extends shared/layout

block head
	link(rel="canonical",href=canonicalUrl)
	meta(property="og:url",content=canonicalUrl)
	meta(property="og:description",content='Explore the up-and-coming social enterprise scene in the Philippines')
	meta(name="description",content='Explore the up-and-coming social enterprise scene in the Philippines')
	meta(property="og:image",content=externalUrl+'/images/logochoosesocialfacebook.png')
block content
	.title.clearfix
		h1 Explore Social Enterprises in Philippines
	.row
		.col-lg-12.col-md-12.col-sm-12.col-xs-12
			div(id="selectedTags")
				for refinement in selectedRefinements
					.whitetag
						h2= refinement.refinementValue
							a(href="javascript:void(0)", onclick="removeRefinement('"+refinement.refinementName+"','"+refinement.refinementValue+"',this)")
								i.fa.fa-close
	.row
		.col-lg-3.col-md-3.col-sm-4.col-xs-12
			div(id='leftnav',data-spy="affix",data-offset-top="100",data-offset-bottom="420")
				.sidebar.sidebar_1
					div(id='accordion')
						div(id='primaryBusinessSector_1').panel.side_box
								h5 
									a(data-toggle="collapse",data-parent="#accordion",href='#collapse1',aria-expanded="true",aria-controls="collapse1") Business Category
										i.fa.fa-caret-down
								ul.collapse(id="collapse1")
									for refinement,index in businessSectorRefinements
										li 
											a(href="javascript:void(0)",class="pull-left",onclick="filterRefinement('primaryBusinessSector_1','#{refinement.name}')")=refinement.name
											span.badge #{refinement.val}
						div(id='socialPurposeCategoryTags').panel.side_box
							h5 
								a(data-toggle="collapse",data-parent="#accordion",href='#collapse2',aria-expanded="false",aria-controls="collapse2") Social Cause
									i.fa.fa-caret-down
							ul.collapse(id="collapse2")
								for refinement,index in socialPurposeRefinements
									li 
										a(href="javascript:void(0)",class="pull-left",onclick="filterRefinement('socialPurposeCategoryTags','#{refinement.name}')")=refinement.name
										span.badge #{refinement.val}
						div(id='demographicImpact').panel.side_box
							h5 
								a(data-toggle="collapse",data-parent="#accordion",href='#collapse3',aria-expanded="false",aria-controls="collapse3") Who does it impact
									i.fa.fa-caret-down
							ul.collapse(id="collapse3")
								for refinement,index in demographicImpactRefinements
									li 
										a(href="javascript:void(0)",class="pull-left",onclick="filterRefinement('demographicImpact','#{refinement.name}')")=refinement.name
										span.badge #{refinement.val}
						div(id='islandGroup').panel.side_box
							h5 
								a(data-toggle="collapse",data-parent="#accordion",href='#collapse4',aria-expanded="false",aria-controls="collapse4") Island Group
									i.fa.fa-caret-down
							ul.collapse(id="collapse4")
								for refinement,index in islandGroupRefinements
									li 
										a(href="javascript:void(0)",class="pull-left",onclick="filterRefinement('islandGroup','#{refinement.name}')")=refinement.name
										span.badge #{refinement.val}
		.col-lg-9.col-md-9.col-sm-8.col-xs-12
			.map(id='mapall')
			.product_c
				.row
					for organization,index in organizations
						- var style = (organization.hidden === true ? 'display: none;' : '')
						.col-lg-3.col-md-4.col-sm-6.col-xs-12(style=style)
							.main_box
								.desc_title_front_page
									h5= organization.name
								.box_1
									div
										a(href='/organization/'+organization.name_slug)
											img(src=fullFileHost+organization.logoThumbnail,alt=organization.name,style="width:100%")
										.desc
											p= organization.descriptionService.substring(0,90)
block javascript
	script.
		var refinementsAll = !{JSON.stringify(selectedRefinements)};
		$(document).ready(function() {
			generateAllVisualization(refinementsAll);
		});