extends shared/layout

block head
	style.
		.imagebackground {
			background: url(/images/boats.jpg) no-repeat center center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	meta(property="og:description",content='Explore the up-and-coming social enterprise scene in the Philippines')
	meta(property="og:url",content=externalUrl)
	meta(name="description",content="Explore the up-and-coming social enterprise scene in the Philippines")
	meta(property="og:image",content=externalUrl+'/images/logochoosesocialfacebook.png')

block content
	.imagebackground
		.jumbotron
			h1 Explore the up-and-coming social enterprise scene in the Philippines
			h2 Social enterprise:  A business committed to doing good while remaining financially sustainable
	.row
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.thumbnail.text-center
				a(href='/explore')
					img(src="images/city.jpg",srcset="images/city.jpg 1x,images/city@2x.jpg 2x",class="img-responsive",alt="Explore Social Enterprises")
					.blackoverlay
					.middleoverlay
						h3 Explore
						h4 Social Enterprises
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.thumbnail.text-center
				a(href='#causes',class="smoothscroll")
					img(src="images/socialworker.jpg",srcset="images/socialworker.jpg 1x, images/socialworker@2x.jpg 2x",class="img-responsive",alt="Connect with causes you care about")
					.blackoverlay
					.middleoverlay
						h3 Connect
						h4 With Causes You Care About
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.thumbnail.text-center
				a(href='/contactus')
					img(src="images/engage.jpg",srcset="images/engage.jpg 1x, images/engage@2x.jpg 2x",class="img-responsive",alt="Get Involved")
					.blackoverlay
					.middleoverlay
						h3 Get
						h4 Involved
	.title.clearfix
		a(name='causes',class="anchor")
		h1 Causes 
			br
			small Social enterprises grouped by their social impact. Click, connect, and spread the word!
	.product_c
		.row
			for socialPurpose,index in socialPurposeCategory
				.col-lg-3.col-md-4.col-sm-4.col-xs-12
					.main_box
						.desc_title_front_page
							h5
								a(href="/explore/social/"+convertToSlug(socialPurpose))= socialPurpose
						.box_1
							- var suborg = _.filter(organizations, function(org) { return (_.contains(org.socialPurposeCategoryTags,socialPurpose)) });
							- suborg = _.shuffle(suborg)
							.slick(data-slick='{"lazyLoad": "ondemand", "infinite": true}')
								for entry,index in suborg
									div
										a(href='/organization/'+entry.name_slug)
											img(data-lazy=fullFileHost+entry.logoThumbnail,alt=entry.name,class="center-block")
										.desc
											- var trimmedDescription = entry.descriptionService.substr(0, 110);
											- trimmedDescription = trimmedDescription.substr(0, Math.min(trimmedDescription.length, trimmedDescription.lastIndexOf(" ")))
											p= trimmedDescription+'...'
		.row
			- var top3 = organizations.sort(function(a, b) {var first = parseInt(a['_id'].toString().substr(0, 8),16)*1000;var second = parseInt(b['_id'].toString().substr(0, 8),16)*1000;return (second-first);}).slice(0,3);
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.twitter
					h2 Updates
						br
						small Check out the most recent social enterprises added to ChooseSocial.PH!
					.row
						for entry in top3
							.col-lg-3.col-md-4.col-sm-4.col-xs-12
								.list-group
									.list-group-item
										a(href='/organization/'+entry.name_slug)
											h5.text-center=entry.name
											img.newest(src=fullFileHost+entry.logoThumbnail,alt=entry.name,class="img-responsive center-block")
										- var trimmedString = entry.descriptionService.substr(0, 150);
										- trimmedString = trimmedString.substr(0, Math.min(trimmedString.length, trimmedString.lastIndexOf(" ")))
										p.list-group-item-text.newest= trimmedString+'...'