extends shared/layout

block head
	style.
		.imagebackground {
			background: url(/images/boats.jpg) no-repeat center center; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	meta(property="og:description",content='Explore the up-and-coming social enterprise scene in the Philippines')
	meta(property="og:url",content=externalUrl)
	meta(name="description",content="Explore the up-and-coming social enterprise scene in the Philippines")

block content
	.jumbotron.imagebackground
		h1 Explore the up-and-coming social enterprise scene in the Philippines
		h2 Social enterprise:  A business committed to doing good while remaining financially sustainable
	.row
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.thumbnail.text-center
				a(href='/explore')
					img(src="images/city.jpg",class="img-responsive",alt="Explore Social Enterprises")
					.blackoverlay
					.middleoverlay
						h3 Explore
						h4 Social Enterprises
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.thumbnail.text-center
				a(href='#causes',class="smoothscroll")
					img(src="images/socialworker.jpg",class="img-responsive",alt="Connect with causes you care about")
					.blackoverlay
					.middleoverlay
						h3 Connect
						h4 With Causes You Care About
		.col-lg-4.col-md-4.col-sm-4.col-xs-12
			.thumbnail.text-center
				a(href='/contactus')
					img(src="images/engage.jpg",class="img-responsive",alt="Get Involved")
					.blackoverlay
					.middleoverlay
						h3 Get
						h4 Involved
	.title.clearfix
		a(name='causes',class="anchor")
		h1 Social Causes
	.product_c
		.row
			for socialPurpose,index in socialPurposeCategory
				.col-lg-3.col-md-4.col-sm-4.col-xs-12
					.main_box
						.desc_title_front_page
							h5
								a(href="/explore/social/"+convertToSlug(socialPurpose))= socialPurpose
						.box_1
							- var suborg = _.filter(organizations, function(org) { return (_.contains(org.socialPurposeCategoryTags,socialPurpose)) });
							- suborg = _.shuffle(suborg)
							.slick
								for entry,index in suborg
									div
										a(href='/organization/'+entry.name_slug)
											img(data-lazy=fullFileHost+entry.logoThumbnail,alt=entry.name)
										.desc
											p= entry.descriptionService.substring(0,90)
						
		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				.twitter
					.row
						.col-lg-3.col-md-3.col-sm-4.col-xs-12
							.desc
								h4 Live updates from your social enterprises!
								.desc_text
									p We know keeping up can be tough. That's why we put together a Twitter list of top social enterprises in the Philippines from our website. Our list is always growing, so follow us and stay informed!
						.col-lg-9.col-md-9.col-sm-8.col-xs-12
							a(class="twitter-timeline", data-dnt="true", href="https://twitter.com/ChooseSocial/lists/social-enterprises-of-ph", data-widget-id="537084929281372160", data-chrome="nofooter") Tweets from the social enterprises we follow
							script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
block javascript