extends shared/layout
block head
	meta(property="og:description",content=organization.descriptionService)
	meta(name="description",content=organization.descriptionService)
	meta(property="og:image",content='https:'+fullFileHost+organization.logo)
	meta(property="og:url",content=externalUrl+'/organization/'+organization.name_slug)
	meta(name="twitter:card",content="summary")
	meta(name="twitter:site",content="@choosesocial")
	meta(name="twitter:title",content=title +" | ChooseSocial.PH")
	meta(name="twitter:description",content=organization.descriptionService)
	meta(name="twitter:image",content='https:'+fullFileHost+organization.logo)
	meta(name="twitter:url",content=externalUrl+'/organization/'+organization.name_slug)
	if (organization.videoSource!='' && organization.videoSource!=null)
		if (organization.videoSource=='youtube')
			meta(property="og:video",content='https://www.youtube.com/watch?v='+organization.videoId)
		else if (organization.videoSource=='vimeo')
			meta(property="og:video",content='https://vimeo.com/'+organization.videoId)
		else if (organization.videoSource=='custom')
			meta(property="og:video",content=organization.videoId)
		
	
block content
	div(itemscope,itemtype="http://schema.org/Organization")
		.title.clearfix
			h1(itemprop="name")= organization.name
		.pro_main_c
			.row
				.col-lg-3.col-md-3.col-sm-3.col-xs-12
					.text-center
						.slider_1.clearfix
							a(href=organization.website,target='_blank',itemprop="url")
								img(itemprop="logo", src=fullFileHost+organization.logoThumbnail,data-pin-media=fullFileHost+organization.logo,class="img-responsive",alt=organization.name+' logo')
								p Visit their website

				.col-lg-9.col-md-9.col-sm-9.col-xs-12
					.desc_blk
						.row
							.col-xs-12
								h3 About the organization  
								.desc_blk_inn
									p(itemprop="description")!= contentParse(organization.descriptionService)
						if (organization.store && (organization.store.substring(0, 24)=='http://www.cambio.market' || organization.store.substring(0, 20)=='http://cambio.market' || organization.store.substring(0, 21)=='https://cambio.market' || organization.store.substring(0, 25)=='https://www.cambio.market'))
							.row 
								.col-lg-12.col-md-12.col-sm-12.col-xs-12
									h5 Want to buy their products?
									.graytext
										p 
											=organization.name  
											|  products are available in North America on  
											a(href=organization.store,,target="blank") Cambio Market,  
											| our   
											a(href=organization.store,target="blank") online marketplace for socially responsible products.
											br
											a(href=organization.store,target="blank")
												img(src="/images/logocambiomarket.png",alt="Cambio Market - Shop for Socially Responsible Products",height="70px")
						.row
							.col-sm-4.col-xs-12
								h5 Business Category
								.graytext
									p=organization.primaryBusinessSector_1
							if typeof(organization.primaryBusinessSector_2)!=undefined && organization.primaryBusinessSector_2.length>0
								.col-sm-4.col-xs-12
									h5 Business Sub-Category
									.graytext
										p 
											for sector,index in organization.primaryBusinessSector_2 
												=sector 
												if (index!=organization.primaryBusinessSector_2.length-1)
													|,  
							if (organization.yearFounded !='' && organization.yearFounded !=null)
								.col-sm-4.col-xs-12
									h5 Year Founded
									.graytext
										p(itemprop="foundingDate")=organization.yearFounded
						
			.tabing
				ul.nav.nav-tabs
					li.active 
						a(href="#general",data-toggle="tab",role="tab") The Good Stuff
					li
						a(href='#contactinfo',data-toggle="tab",role="tab") Contact and Location
					if (organization.additionalResources.length>0)
						li 
							a(href="#additionalresources",data-toggle="tab",role="tab") Additional Resources
				.tab-content
					.tab-pane.active(id='general')
						.row
							.col-lg-6.col-md-6.col-sm-6.col-xs-12
								.row
									.col-lg-12.col-md-12.col-sm-12.col-xs-12
										.rew_blk.clearfix
											h5 What makes it a social enterprise?
											p!= contentParse(organization.descriptionCause)
								.row
									.col-lg-6.col-md-6.col-sm-6.col-xs-12
										.rew_blk.clearfix
											h5 What is its social cause?
											for purpose,index in organization.socialPurposeCategoryTags 
												=purpose
												if (index!=organization.socialPurposeCategoryTags.length-1)
													|,  
									.col-lg-6.col-md-6.col-sm-6.col-xs-12
										h5 Who does it impact?
										for impact,index in organization.demographicImpact 
											=impact 
											if (index!=organization.demographicImpact.length-1)
												|,  
							.col-lg-6.col-md-6.col-sm-6.col-xs-12
								if (organization.videoSource!='' && organization.videoSource!=null)
									h5 Video
								.embed-responsive.embed-responsive-4by3
									if (organization.videoSource=='youtube')
										iframe(class="embed-responsive-item",src="//www.youtube.com/embed/"+organization.videoId,allowfullscreen)
									else if (organization.videoSource=='vimeo')
										iframe(class="embed-responsive-item",src="//player.vimeo.com/video/"+organization.videoId,webkitallowfullscreen,mozallowfullscreen,allowfullscreen)
									else if (organization.videoSource=='custom')
										iframe(class="embed-responsive-item",src=organization.videoId,webkitallowfullscreen,mozallowfullscreen,allowfullscreen)
					.tab-pane(id='contactinfo')
						.row
							.col-lg-6.col-md-6.col-sm-6.col-xs-12
								h5
									span.fa.fa-home
									|  Website
								p
									a(href=organization.website,target='_blank')=organization.website
								if (organization.email)!=''
									h5
										span.fa.fa-envelope 
										|  Email
									p
										a(href='mailto:'+organization.email,target='_blank')
											span(itemprop="email")=organization.email
								if (organization.phoneNumber)!=''
									h5 
										span.fa.fa-mobile 
										|  Phone Number
									p(itemprop="telephone")=organization.phoneNumber
								h5 
									span.fa.fa-map-marker 
									|  Address
								p!=contentParse(organization.Location.address)
							.col-lg-6.col-md-6.col-sm-6.col-xs-12
								if (organization.Location.latitude!=null&&organization.Location.longitude!=null)
									div(itemprop="location")
										span(itemscope,itemtype="http://schema.org/Place")
											div(itemprop="geo")
												span(itemscope,itemtype="http://schema.org/GeoCoordinates")
													span(itemprop="latitude",content=organization.Location.latitude)
													span(itemprop="longitude",content=organization.Location.longitude)
									h5 Where is 
										=organization.name
										|  in Philippines
									.map(id='map')
					if (organization.additionalResources.length>0)
						.tab-pane(id='additionalresources')
							h4 Resources to learn more about 
								=organization.name
							for resource in organization.additionalResources
								a(href=resource.resourceUrl,target="_blank")
									p= resource.resourceName
			if organization.socialMedia.length>0
				.desc_blk
					.row
						.col-xs-12
							h3 #{organization.name} on Social Media
							.row
								.col-lg-6.col-md-6.col-sm-6.col-xs-12
									.row
										for media in organization.socialMedia
											.col-xs-4
												.text-capitalize
													a(href=media.socialMediaUrl,target="_blank")
														case media.socialMediaName
															when 'pinterest'
																span.fa.fa-pinterest.mediumicon
															when 'twitter'
																span.fa.fa-twitter.mediumicon
															when 'facebook'
																span.fa.fa-facebook.mediumicon
															when 'soundcloud'
																span.fa.fa-soundcloud.mediumicon
															when 'youtube'
																span.fa.fa-youtube.mediumicon
															when 'linkedin'
																span.fa.fa-linkedin.mediumicon
															when 'tumblr'
																span.fa.fa-tumblr.mediumicon
															when 'instagram'
																span.fa.fa-instagram.mediumicon
															when 'google plus'
																span.fa.fa-google-plus.mediumicon
															when 'blogspot'
																span.fa.fa-rss.mediumicon
															when 'vimeo'
																span.fa.fa-vimeo.mediumicon
															when 'foursquare'
																span.fa.fa-foursquare.mediumicon
															when 'wordpress'
																span.fa.fa-wordpress.mediumicon
															default
																span.fa.fa-asterisk.mediumicon
														
														if media.socialMediaName!='other'
															=media.socialMediaName
														else
															=media.socialMediaUrl
								.col-lg-6.col-md-6.col-sm-6.col-xs-12
									- var instagramCount = _.filter(organization.socialMedia, { 'socialMediaName': 'instagram' });
									if (instagramCount.length>0)
										.row
											div(id="socialmediacontent")
												h4.col-xs-12
													=organization.name
													|'s pictures on 
													a(href=instagramCount[0].socialMediaUrl,target='_blank') Instagram
											div(id="instafeed")
									- var pinterestLink = _.filter(organization.socialMedia, { 'socialMediaName': 'pinterest' });
									if (pinterestLink.length>0 && instagramCount.length<1)
										.row
											div(id="socialmediacontent")
												h4.col-xs-12
													=organization.name
													|'s pins on 
													a(href=pinterestLink[0].socialMediaUrl,target='_blank') Pinterest
										a(data-pin-do="embedUser" href=pinterestLink[0].socialMediaUrl data-pin-scale-width="87" data-pin-scale-height="120" data-pin-board-width="1200")
										script(type="text/javascript" async src="//assets.pinterest.com/js/pinit.js")
			if similarOrganizations.length>0
				.desc_blk
					.row
						.col-xs-12
							h3 You might also be interested in...
							for similarOrg in similarOrganizations
								.col-lg-3.col-md-4.col-sm-6.col-xs-12
									.similarorgbox.center-block.text-center
										.box_1
											div
												a(href='/organization/'+similarOrg.name_slug)
													img(src=fullFileHost+similarOrg.logoThumbnail,alt=similarOrg.name,class="img-responsive")
											.desc
												h5
													a(href='/organization/'+similarOrg.name_slug)= similarOrg.name
block javascript
	if (instagramCount && instagramCount.length>0)
		script.
			var userFeed = new Instafeed({
				get: 'user',
				userId: #{instagramCount[0].id},
				clientId: '8e6886644e684a299e5203ac9a0925fa',
				sortBy: 'most-recent',
				limit: 9,
				template: '<div class="col-md-4 col-xs-6"><a href="{{link}}" target="_blank"><img src="{{image}}" alt="{{caption}}" class="img-responsive image-instagram"/></a></div>'
			});
			userFeed.run();
	script.
		$(document).ready(function() {
			generateVisualization(#{organization.Location.latitude},#{organization.Location.longitude},"#{organization.name_slug}");
		});