extends ../layout

block content
  h1 #{resultCount} search results for #{searchTerm}
  for filterValue,filterName in selectedFilters
    h4 #{fieldsName[filterName]}: #{filterValue.value} 
      a(href=filterValue.removeUrl)
        span.ion-ios7-close-outline
  hr
  .col-sm-2
    if typeof(facets)!=undefined && resultCount>1
      for facet,facetname in facets
        if (Array.isArray(facet)&& selectedFilters[facetname]==undefined)
          .row
            if (facetname == 'primaryBusinessSector_1' && facet.length>0)
              h5= fieldsName[facetname]
            else if (facetname == 'primaryBusinessSector_2' && facet.length>0 && selectedFilters['primaryBusinessSector_1']!=undefined)
              h5= fieldsName[facetname]
            else if (facetname == 'socialPurposeCategoryTags' && facet.length>0)
              h5= fieldsName[facetname]
            else if (facetname == 'active' && (facet[0].count>0 || facet[1].count>0))
              h5= fieldsName[facetname]
            else if (facetname =='demographicImpact' && facet.length>0)
              h5= fieldsName[facetname]
            else if (facetname =='islandGroup' && facet.length>0)
              h5= fieldsName[facetname]
          for refinement in facet
            if (refinement.count>0 && refinement.value!=='' && (facetname != 'primaryBusinessSector_2' || selectedFilters['primaryBusinessSector_1']!=undefined))
              .row
                p.small
                  a(href=refinement.link) #{refinement.value} (#{refinement.count})
  .col-sm-10
    .row
      .table-responsive
        table.table.table-striped.table-hover
          thead
            tr
              th= fieldsName["name"]
              th Highlight
          tbody
            for organization in organizations
              tr
                td
                  a(href='/admin/organization/'+organization.name_slug)= organization.name
                td
                  if typeof(organization['@search.highlights'])!='undefined'
                    - counter = 0
                    for highlight,highlightname in organization['@search.highlights']
                      if (Array.isArray(highlight))
                        for value in highlight
                          - counter++
                          if (counter<4)
                            p!=fieldsName[highlightname]+': '+value
                            
                    